/* src/SignUpPage.css */

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff; /* Set background color to white */
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.signup-page h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-form input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.signup-form input:focus {
    border-color: #61dafb;
}

.signup-form button {
    padding: 12px;
    font-size: 18px;
    color: white;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.signup-form button:hover {
    background-color: #21a1f1;
}
